SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
DB_NAME=insightwrite
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5435
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
